<%= form_with model: [@schedule, @profile], local: true do |f|%>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :customer_last_name, "姓" %><br />
    <%= f.text_field :customer_last_name, placeholder:"例：山田" %>
  </div>

  <div class="field">
    <%= f.label :customer_first_name, "名" %><br />
    <%= f.text_field :customer_first_name, placeholder: "例：健太郎" %>
  </div>

  <div class="field">
    <%= f.label :customer_occupation, "所属" %><br />
    <%= f.text_field :customer_occupation , placeholder: "例：浅草通信株式会社" %>
  </div>

  <div class="field">
    <%= f.label :position, "役職" %><br />
    <%= f.text_field :position , placeholder: "例：財務経理部 経理課長" %>
  </div>

  <div class="field">
    <%= f.label :note, "備考" %><br />
    <%= f.text_area :note, class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
  
<% end %>